---

---

<nav class="flex items-center justify-center gap-4">
  <a
    href="/blog"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/blog") ? "text-accent" : "",
    ]}>blog</a
  >
  <a
    href="/projects"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/projects") ? "text-accent" : "",
    ]}>projects</a
  >
  <a
    href="/resume"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/resume") ? "text-accent" : "",
    ]}>resume</a
  >
  <a
    href="/talks"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/talks") ? "text-accent" : "",
    ]}>talks</a
  >
  <a
    href="/archive/1"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/archive") ? "text-accent" : "",
    ]}>archive</a
  >
  <a
    href="/tags"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/tags") ? "text-accent" : "",
    ]}>tags</a
  >
</nav>
